.faq-container{
    height: 28.125rem;
    background-image: url('../../../assets/FAQ/rectangle.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    width: 100%;
}

.faq-container .left-person{
    position: absolute;
    bottom: 0;
    left: 6.1rem;
}

.faq-container .right-person{
    position: absolute;
    bottom: 0;
    right: 6.1rem;
}

.faq-container .big-left-bubble{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}
.faq-container .small-left-bubble{
    position: absolute;
    top: 0;
    left: 3rem;
    opacity: 0.8;
}

.faq-container .bottom-right-bubble{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;

}

.faq-container .big-right-bubble{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;

}