.pricing-contact-us {
  display: flex;
  flex: 1 1 0px;
  margin: 3rem;
  justify-content: center;
}

.pricing-contact-us .pricing-contact-right {
  width: 36.43rem;
  height: 38.37rem;
  margin-left: 3rem;
  position: relative;
}

.pricing-contact-us .pricing-contact-right .map{
    height: 90%;
}

.pricing-contact-us .pricing-contact-right .pricing-map-marker {
  position: absolute;
  top: 35%;
  right: 45%;
}

.pricing-contact-us .pricing-contact-left .inputs {
  display: flex;
  flex-direction: column;
}

.pricing-contact-us .pricing-contact-left .inputs input {
  width: 30.06rem;
  height: 3.125rem;
  border: 1px solid #e0e0e0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1.5rem;
}

.pricing-contact-us .pricing-contact-left .inputs select {
  width: 30.06rem;
  height: 3.125rem;
  border: 1px solid #e0e0e0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1.5rem;
}
.pricing-contact-us .pricing-contact-left .pricing-contact-btn {
  background-color: #ef4444;
  color: white;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.pricing-contact-us .pricing-contact-left .pricing-contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.pricing-contact-us .pricing-contact-left .pricing-contact-info .social-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: end;
}

.pricing-contact-us
  .pricing-contact-left
  .pricing-contact-info
  .social-info
  .social-info-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.pricing-contact-us
  .pricing-contact-left
  .pricing-contact-info
  .social-info
  .social-info-text {
  font-size: 13px;
  text-align: left;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pricing-contact-us
  .pricing-contact-left
  .pricing-contact-info
  .social-info
  .social-info-icon.social-info-text
  .subtitle {
  color: #ef4444;
}
