.App {
  font-family: sans-serif;
  text-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .hero-heading-styles {
    @apply font-garamond-semibold text-[32px] text-center text-[#F9F9F9] mb-4 leading-tight;
  }

  .hero-sub-heading {
    @apply font-hebrew-regular text-[14px] text-center text-[#FFFFFF] mb-4 tracking-[0.25px] leading-6;
  }
}

.custom-drop-shadow {
  filter: drop-shadow(0 4px 0px rgba(0, 0, 0, 1));
}

.rightLine {
  padding: 45px 30px 20px 30px;
  margin-bottom: 50px;
}

.awardsSplide .splide__slide {
  margin: auto;
}

.awardsSplide img {
  margin: auto;
}

.awardsSplide {
  position: relative;
}

.awardsSplide .splide__arrow {
  background: transparent;
  border: 2.5px solid #186EF2;
  opacity: 1 !important;
}

.awardsSplide .splide__arrow svg {
  fill: #196ded;
  height: 1em;
  width: 1em;
}



.awardsSplide .splide__arrow--prev {
  left: 0em;
}

.awardsSplide .splide__arrow--next {
  right: 0em;
}

.newsLetterEmail {
  border: 1px solid #475569;
  width: 100%;
  padding: 7px 5px 7px 15px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.newsLetterEmail::placeholder {
  font-size: 14px;
  font-family: 'Open Sans Hebrew-Regular';
}

.newsLetterEmail:focus-visible {
  outline: auto !important;
}

.getInTouchForm input,
select {
  border: 1px solid #E0E0E0;
  padding: 12px 5px 12px 10px;
  width: 100%;
  margin-bottom: 12px;
}

.getInTouchForm input::placeholder {
  font-size: 14px;
  font-family: 'Open Sans Hebrew-Regular';
}

select {
  color: #0A0628;
  font-size: 14px;
  font-family: 'Open Sans Hebrew-Regular';
}

/* Hero Images Starts Here */
.largeElipseBlock {
  position: absolute;
  bottom: -175px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 600px;
  z-index: -1;
}

.largeElipseBlock .dropShadow,
.mediumElipseBlock .dropShadow,
.smallElipseBlock .dropShadow {
  filter: drop-shadow(0 0px 55px rgb(0, 0, 0, 25%));
}

.mediumElipseBlock {
  position: absolute;
  bottom: -17px;
  left: 28px;
  width: 550px;

}

.smallElipseBlock {
  position: absolute;
  bottom: 46px;
  left: 53px;
  width: 450px;

}

.characterBlock {
  position: absolute;
  bottom: 170px;
  left: 155px;
  width: 160px;

}

.rocketBlock {
  position: absolute;
  width: 150px;
  top: 19%;
  -ms-transform: translateY(-19%);
  transform: translateY(-19%);
}

.handBlock {
  position: absolute;
  width: 100px;
  top: 46%;
  -ms-transform: translateY(46%);
  transform: translateY(46%);
  left: -37px;
}

.noteBlock {
  position: absolute;
  width: 80px;
  top: 70%;
  -ms-transform: translateY(70%);
  transform: translateY(70%);
  left: 0px;
}

.candelstickBlock {
  position: absolute;
  width: 60px;
  top: 61%;
  -ms-transform: translateY(61%);
  transform: translateY(61%);
  right: 15px;
}

.worldBlock {
  position: absolute;
  width: 80px;
  top: 33%;
  -ms-transform: translateY(33%);
  transform: translateY(33%);
  right: -20px;
}

.firstWord::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #F6393D;
  bottom: 0;
  border-radius: 100px;
  z-index: -1;
}

/* Hero Images Ends Here */

/* Services Images starts here */
.diagramBlock {
  position: absolute;
  left: -23px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 56px;
}

.graphicBlock {
  position: absolute;
  left: 58px;
  width: 56px;
  bottom: -12px;
}

.telescopeBlock {
  position: absolute;
  left: 50%;
  top: 47%;
  -ms-transform: translateY(47%) translateX(-50%);
  transform: translateY(47%) translateX(-50%);
  width: 56px;
}

.messageBlock {
  position: absolute;
  right: 60px;
  top: 45%;
  -ms-transform: translateY(45%);
  transform: translateY(45%);
  width: 56px;
}

.calendarBlock {
  position: absolute;
  right: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 56px;
}

.gearBlock {
  position: absolute;
  right: 50px;
  top: -33px;
  width: 70px;
}

/* Services Images ends here */
.whyChooseAfter {
  position: relative;
}

.whyChooseAfter::after {
  content: '';
  position: absolute;
  background-image: url('../src/components/images/why-choose-us/pseudo.png');
  background-repeat: no-repeat;
  width: 85px;
  height: 10px;
  top: 0px;
  z-index: 1;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.whyLargeEllipseBlock {
  position: absolute;
  bottom: -330px;
  z-index: -1;
  width: 705px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.featuredLeftPulse {
  position: absolute;
  left: -90%;
  top: -84px;
  z-index: -1;
  width: 735px;
}

.featuredRightPulse {
  position: absolute;
  right: -90%;
  bottom: -84px;
  z-index: -1;
  width: 735px;
}

.clientSplide .splide__pagination {
  bottom: -5px !important;
}

.clientSplide .splide__pagination__page {
  height: 17px;
  width: 17px;
  background: #C5C5C5;
}

.clientSplide .splide__pagination__page.is-active {
  background: #525252 !important;
  transform: scale(1);
}

.clientBox {
  box-shadow: 0px 16px 20px #0000006b;
  margin-bottom: 50px;
}

/* TimeLine Blue Pulse Starts Here */
.topLeftBluePulseBlock {
  position: absolute;
  top: 0;
  left: -65%;
  width: 700px;
  z-index: -1;
}

.centerRightBluePulseBlock {
  position: absolute;
  right: -65%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 700px;
  z-index: -1;
}

.bottomLeftBluePulseBlock {
  position: absolute;
  bottom: 0;
  left: -65%;
  width: 700px;
  z-index: -1;
}

/* TimeLine Blue Pulse Ends Here */

.awardsBottomLine {
  position: relative;
}

.awardsBottomLine::after {
  content: '';
  border-bottom: 1px solid #4334B6;
  width: 100%;
  position: absolute;
  bottom: -30px;
  left: 0;
}

/* Price Eliipses Starts Here */
.halfEllipseBlock {
  position: absolute;
  top: 28%;
  left: -12%;
  z-index: -1;
}

.halfEllipseRightBlock {
  position: absolute;
  top: 6%;
  right: -54%;
  z-index: -1;
  transform: rotate3d(1, 0, -20, 181deg);
}

.pricingContainer> :nth-child(1) {
  position: relative;
}

.pricingContainer> :nth-child(1)::after {
  content: '';
  background-image: url('../src/components/images/pricing-options/topHalfEllipse.png');
  background-repeat: no-repeat;
  height: 2000px;
  position: absolute;
  top: -139px;
  width: 200px;
  right: -35px;
  z-index: -2;
}

.pricingContainer> :nth-child(2) {
  position: relative;
}

.pricingContainer> :nth-child(2)::after {
  content: '';
  background-image: url('../src/components/images/pricing-options/halfElipse.png');
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  top: 0;
  width: 500px;
  left: -14%;
  z-index: -2;
}

.pricingContainer> :nth-child(3) {
  position: relative;
}

.pricingContainer> :nth-child(3)::after {
  content: '';
  background-image: url('../src/components/images/pricing-options/thirdEllipse.png');
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  top: 0;
  width: 150px;
  right: 0;
  z-index: -2;
}

.pricingContainer> :nth-child(3),
.pricingContainer> :nth-child(4) {
  background-image: linear-gradient(to bottom, #4334b642, #9c8fff00);
}

/* Price Eliipses Ends Here */

/* Font Face Starts Here */
/* Garamond Font face Stars Here */
@font-face {
  font-family: 'EB Garamond-SemiBold';
  src: url('../public/fonts/EBGaramond/EBGaramond-SemiBold.woff2') format('woff2'),
    url('../public/fonts/EBGaramond/EBGaramond-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond-Bold';
  src: url('../public/fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2'),
    url('../public/fonts/EBGaramond/EBGaramond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Garamond Font face Ends Here */

/* Open Sans Hebrew Font face Stars Here */
@font-face {
  font-family: 'Open Sans Hebrew-Regular';
  src: url('../public/fonts/OpenSansHebrew/OpenSansHebrew-Regular.woff2') format('woff2'),
    url('../public/fonts/OpenSansHebrew/OpenSansHebrew-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Hebrew-Bold';
  src: url('../public/fonts/OpenSansHebrew/OpenSansHebrew-Bold.woff2') format('woff2'),
    url('../public/fonts/OpenSansHebrew/OpenSansHebrew-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Hebrew-Light';
  src: url('../public/fonts/OpenSansHebrew/OpenSansHebrew-Light.woff2') format('woff2'),
    url('../public/fonts/OpenSansHebrew/OpenSansHebrew-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Open Sans Hebrew Font face Ends Here */

/* Lato Font Face Starts Here */
@font-face {
  font-family: 'Lato-bold';
  src: url('../public/fonts/Lato/Lato-Bold.woff2') format('woff2'),
    url('../public/fonts/Lato/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-regular';
  src: url('../public/fonts/Lato/Lato-Regular.woff2') format('woff2'),
    url('../public/fonts/Lato/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Lato Font Face Ends Here */
/* Font Face Ends Here */